__pycache__/
*.py[cod]
.DS_Store

.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/

temp_downloads/
bot.log
cookies.txt
yt_cookies.txt
state.json
.ytdlmsaver.lock
.run_alwaysdata_local_bot_api.lock/
.telegram-bot-api/
logs/
.env
.env.*
!.env.example

database.db
*.sqlite
*.sqlite3
user_stats.json
po_token.txt
telegram_file_cache.json
user_langs.json

test_config.py
venv/
.env
.env.*
!.env.example
